.images__item{
    padding: 280px 0;
    outline: 1px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.images__item:first-child{
    padding-top: 65px;
}

.images__img{
    max-height: 600px;
    max-width: 600px;
    border: 10px solid black;
    border-radius: 50%;
    /* до зараз були ордінарні стилі */
    transform: translateX(-600px) rotate(0);
    transition-property: transform;
    transition-duration: 650ms;
    transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.images__img.active{
    transform: translateX(0px) rotate(360deg);
 } /* а тут пройшла магія анімації */